{% layout "navbar.liquid" %}

{% block content %}
    <div class="flex">
        <div class="flex w-5/6 justify-center">
            <h1 class="text-4xl text-purple-500 font-bold uppercase m-4">
                {{ product.title }}
            </h1>
        </div>

        <div class="flex-wrap w-1/6 m-2">
            <p class="font-medium text-sm"> 
                Category: 
            </p>

            {% comment %} This is the styled button for category {% endcomment %}
            <button type="button" class="
                p-1
                text-blue-500 font-bold uppercase text-sm
                border border-solid border-purple-500
                hover:bg-purple-500 hover:text-white
                rounded outline-none focus:outline-none
                ease-linear transition-all duration-150
                ">
                    {% assign foo = product.handle | split:"-" %}
                    {{ foo[0] }}
            </button>
        </div>   
    </div>

{% endblock %}




{% for product in product %}
    <p> {{ product }}</p>
{% endfor %}